@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: 14px;
  color: $text-primary;
  letter-spacing: 0.25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
}
